benedmunds/codeigniter-ion-auth 4.x-dev 6ebcd54
codeigniter4/framework v4.1.3
doctrine/instantiator 1.4.0
dompdf/dompdf dev-master e832837
dompdf/php-font-lib 1.0.0
dompdf/php-svg-lib 1.0.0
fakerphp/faker v1.15.0
kint-php/kint 3.3
laminas/laminas-escaper 2.8.0
laminas/laminas-zendframework-bridge 1.3.0
masterminds/html5 2.9.0
mikey179/vfsstream v1.6.9
mpdf/mpdf v6.1.3
myclabs/deep-copy 1.10.2
myth/auth v1.0.1
nikic/php-parser v4.12.0
phar-io/manifest 2.0.3
phar-io/version 3.1.0
phpdocumentor/reflection-common 2.2.0
phpdocumentor/reflection-docblock 5.2.2
phpdocumentor/type-resolver 1.4.0
phpspec/prophecy 1.13.0
phpunit/php-code-coverage 9.2.6
phpunit/php-file-iterator 3.0.5
phpunit/php-invoker 3.1.1
phpunit/php-text-template 2.0.4
phpunit/php-timer 5.0.3
phpunit/phpunit 9.5.8
psr/container 1.1.1
psr/log 1.1.4
sabberworm/php-css-parser v8.x-dev f414ff9
sebastian/cli-parser 1.0.1
sebastian/code-unit 1.0.8
sebastian/code-unit-reverse-lookup 2.0.3
sebastian/comparator 4.0.6
sebastian/complexity 2.0.2
sebastian/diff 4.0.4
sebastian/environment 5.1.3
sebastian/exporter 4.0.3
sebastian/global-state 5.0.3
sebastian/lines-of-code 1.0.3
sebastian/object-enumerator 4.0.4
sebastian/object-reflector 2.0.4
sebastian/recursion-context 4.0.4
sebastian/resource-operations 3.0.3
sebastian/type 2.3.4
sebastian/version 3.0.2
setasign/fpdi 1.6.2
symfony/deprecation-contracts v2.4.0
symfony/polyfill-ctype v1.23.0
theseer/tokenizer 1.2.1
webmozart/assert 1.10.0
